{% extends 'base.html' %}

{% block body %}
    <ul>
    {% for page in pages %}
        <li>
            <a href="{{ page.url }}" class="to_check">{{ page.label }}</a>
            {% if page.changed %}
                <a href="{% url 'page_diff' page.pk %}" target="_blank">diff</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
